footer {
  display: flex;
  justify-content: center;
}

h1,
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
div a {
  width: 100%;
  height: 100%;
}

.configButton {
  position: absolute;
  right: 10px;
  top: 15px;
}

#catInput {
  width: 100%;
}

#UserDashboard {
  color: white;
  font-family: 'Audiowide', cursive;
}

#configDashboard {
  width: 80%;
  color: black;
  font-family: 'Audiowide', cursive;
}

div#configHeader {
  background-color: lightgray;
  border-radius: 5px;
}

.router {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.categoriesDrop {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 100%;
}
#chartArea {
  width: 80%;
}
svg {
  width: 100%;
  height: 300px;
  overflow: visible;
  margin-bottom: 2rem;
  display: block;
  box-shadow: inset 1px 2000px rgba(208, 208, 208, 0.75);
}

text {
  color: whitesmoke;
}

span.querySpan.input {
  margin-right: 10px;
}

#root {
  font-family: 'Audiowide', cursive;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#userDashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
  height: 100vh;
}

#navBtn {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  align-items: center;
}

div#navBtn {
  display: flex;
  flex-direction: row-reverse;
}
span {
  display: flex;
  justify-content: space-evenly;
}

button {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 100%;
}

button:hover {
  color: rgb(114, 120, 171);
  box-shadow: 0 5px 15px rgb(114, 120, 171);
}

div .tooltip {
  background: lightsteelblue;
}

text.tooltip {
  background: lightsteelblue;
}
.tooltip {
  padding: 5;
  font-size: 20px;
  fill: black;
  font-weight: 600;
}

.bar:hover {
  fill: rgb(255, 183, 75);
  fill-opacity: 70%;
  box-shadow: 0 5px 15px rgb(114, 120, 171);
}

#endpointHeader {
  margin-left: 10px;
}

#categoriesHeader {
  margin-left: 10px;
}

#btnAddQuery button {
  width: 100%;
}

button.btnSecondary.btn.btn-outline-secondary {
  width: 100%;
  background-color: whitesmoke;
  color: black;
}

.deleteBtn {
  color: white;
  margin-left: 10px;
  size: 10%;
  height: 50px;
  width: 50px;
  border-radius: 5px;
}

span#navBtnSpan {
  width: 100%;
  align-content: space-between;
  align-items: center;
}

#navBtnGroup {
  width: 100%;
  align-items: center;
}

#btnContainer {
  width: 100%;
}

div.col-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button#navUserDash {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

button#navProjectSelect {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

button#navConfigDash {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

a#navConfigLink {
  color: whitesmoke;
  text-decoration-line: none;
  width: 100%;
}

a#navUserDashLink {
  color: whitesmoke;
  text-decoration-line: none;
  width: 100%;
}

a#navProjLink {
  color: whitesmoke;
  text-decoration-line: none;
  width: 100%;
}

#projectSelect {
  display: flex;
  flex-direction: column;
  align-items: center;
}

link {
  color: white;
  // font-size: 100%;
  text-size-adjust: 100%;
}

.btn-primary {
  background-color: #073b66;
  border-color: #194779;
}

.close {
  width: 25%;
}

.btn-danger {
  margin: auto;
}

div#freqExamples {
  color: gray;
}

@media only screen and (max-width: 700px) {
  #navProjectSelect {
    width: max-content;
    max-width: 230px;
    flex-wrap: wrap;
  }

  .router {
    min-width: 500;
  }

  #navUserDash {
    width: max-content;
  }

  link {
    color: white;
    min-width: 230px;
    height: max-content;
    text-size-adjust: 100%;
  }
}
