h1, h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.configButton{
    position: absolute;
    right: 10px;
    top: 15px;
}

#UserDashboard {
  width: 750px;
  color: white;
  font-family: 'Audiowide', cursive;

}

.categoriesDrop {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
width: 150px;
}
svg {
  width:750px;
  height: 300px;
  overflow: visible;
  margin-bottom: 2rem;
  display: block;
  box-shadow: inset 1px 2000px rgba(208, 208, 208, 0.54);

}

text{
  color: white;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
  margin-bottom: 5px;
  width: 100px;
} 
  
button:hover {
  color: rgb(114, 120, 171);
  box-shadow: 0 5px 15px rgb(114, 120, 171);
}

.tooltip {
opacity: 1;
}



  .bar:hover {
    fill: rgb(255, 183, 75);
    fill-opacity: 70%;
    box-shadow: 0 5px 15px rgb(114, 120, 171);
  }

  
   
// .d3-tip {
//     line-height: 1;
//     font-weight: bold;
//     padding: 12px;
//     background: rgba(0, 0, 0, 0.8);
//     color: #fff;
//     border-radius: 2px;
//   }
  
//   /* Creates a small triangle extender for the tooltip */
//   .d3-tip:after {
//     box-sizing: border-box;
//     display: inline;
//     font-size: 10px;
//     width: 100%;
//     line-height: 1;
//     color: rgba(0, 0, 0, 0.8);
//     content: "\25BC";
//     position: absolute;
//     text-align: center;
//   }
  
//   /* Style northward tooltips differently */
//   .d3-tip.n:after {
//     margin: -1px 0 0 0;
//     top: 100%;
//     left: 0;
//   }